<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/homepage.css">
        <link rel="shortcut icon" href="/logo-small.svg" type="image/x-icon">
        <title>Homepage | Fluke</title>
    </head>
    <body>
        <h1>Welcome <%= name %></h1>
        <div class="slider">
            <div id="tab-lt" onclick="slide(0)">⇐</div>
            <div id="tab-rt" onclick="slide(1)">⇒</div>
            <div class="slide" style="background-image: url('https://m.media-amazon.com/images/M/MV5BNDg2NzM2NzIwNF5BMl5BanBnXkFtZTcwODE2ODc1Mg@@._V1_SX300.jpg');">
                <div class="slide-info">
                    <span class="title">Exam</span>
                    <div class="subin">
                        <span>2012</span>●
                        <span>Not Rated</span>●
                        <span>free</span>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div id="media" class="media"></div>
            <div class="media-sec" id="pg-movies">
                <script>
                    var mov = JSON.parse('<%- allInfo %>');
                    let ht = '';
                    for (const media of mov) {
                        ht += `<a href=/player?fid=${media["full_id"]} class="media-tile">
                                    <img src=${media["poster"]} alt="movie poster">
                                    <div class="media-info">
                                        <span class="title">Title : ${media["title"]}</span>
                                        <div class="desc">
                                            <span>${media["year"]}</span>&nbsp;●&nbsp;
                                            <span>${media["rating"]}</span>
                                        </div>
                                    </div>
                                </a>`;
                    }
                    document.getElementById("media").innerHTML = ht;
                </script>
            </div>
        </main>
    </body>
</html>