<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/homepage.css">
        <link rel="shortcut icon" href="/assets/logo-small.svg" type="image/x-icon">
        <script differ src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Homepage | Fluke</title>
    </head>
    <body>
        <div class="header">
          <span id="greet"></span>
          <div class="nav">
            <input type="search" oninput="srchIt()" onclick="op()" placeholder="Search Media" name="search" id="srch">
            <ul id="srchbox" class="srchbox"></ul>
            <img src="https://api.iconify.design/material-symbols:cancel-outline-rounded.svg?color=%23aaaaaa" onclick="clsbx()" alt="">
            <div onclick="window.location.href = '/getsignin';" id="icon">signin</div>
          </div>
        </div>
        <div class="display-frame">
            <div class="slider is-set" id="slider"></div>
        </div>
        <main><div id="media" class="media"></div></main>
        <!-- <main><div class="media"></div></main> -->
        <script>
            const sublevels = ["Free","With Subscription","With Pro-Subscription"];
            var slider = $("#slider");
            let allInfo = `<%- allInfo.replace(/'/g, "\\'") %>`;
            let userInfo = `<%- userinfo.replace(/'/g, "\\'") %>`;
            var mov = JSON.parse(allInfo);
            var use = JSON.parse(userInfo);
            if (use["found"]) {
                $("#greet").text(`Welcome ${use["username"]}`);
                $("#icon").html(
                    `${use['name'].substring(0,2)}
                    <button type='button' onclick="sout()" class='signout form-control'>Signout</button>`);
                $("#icon").attr({
                    "onclick":"",
                    "title":"profile",
                    "onmouseover":"$('.signout').css({'display':'block'})",
                    "onmouseout":"$('.signout').css({'display':'none'})"
                });
                $("#icon").css({
                    "padding":"2%",
                    "border-radius":"50%",
                    "height":"100%",
                    "aspect-ratio":"1/1",
                });
            } else {
                $("#greet").text('Welcome');
            }

            let ht = '';

            for (const media of mov) {
                ht += `
                <div class="card text-center ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src=${media["poster"]} class="" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${media["title"]}</h5>
                        <a title="play media" href=/player?fid=${media["full_id"]} class="btn">
                            <img src="assets/play.svg" alt="play button">
                        </a>
                        <a title="add to watchlist" onclick="addwatch(${media["full_id"]})" class="btn">
                            <img src="assets/list.svg" alt="list">
                        </a>
                        <div class="card-footer">${media["year"]} ● ${media["rating"]}</div>
                    </div>
                </div>
                `;
            }
            $("#media").html(ht);
            ht = '';
            let displen = 4;
            let dispstart = Math.floor(Math.random() * (mov.length - displen));
            let dispmov = mov.slice(dispstart,dispstart+displen);
            for (const media of dispmov) {
                ht += `<a href=/player?fid=${media["full_id"]} class="slide" style="background-image: url(${media["poster"]});">
                            <div class="slide-info">
                                <span class="title">${media["title"]}</span>
                                <div class="subin">
                                    <span>${media["year"]}</span>●
                                    <span>Rating : ${media["rating"]}</span>●
                                    <span>${sublevels[media["sublevel"]]}</span>
                                </div>
                                <span class="descrip">${media["plot"].substring(0,150)}...</span>
                            </div>
                        </a>`;
            }
            slider.html(ht);

            let slides = $(".slide");
            $('.slide:last').addClass("is-ref"); 
            var carousel = $('.slider');
            var seats = $('.slide');
            let items = [];
            
            function filIt() {
                let ht = '';
                for (const it of items) {
                    ht += `<a href=/player?fid=${it["link"]}>${it["title"]}</a>`;
                }
                $("#srchbox").html(ht);
                if (ht === '') {
                    $("#srchbox").html("<a>No media found of that name</a>"); 
                }
            }
            
            function getIt(param){
                let count = 0;
                items = [];
                for (const med of mov) {
                    if ((med["title"].toLowerCase().includes(param))&&(count <= 10)) { 
                        items.push({
                            title:med['title'],
                            link:med["full_id"]
                        });
                        count++;
                    }
                }
                filIt();
            }
            
            getIt("");
            function srchIt() {
                $("#srchbox").css({"display":"flex"});
                getIt($("#srch").val());
            }
            function clsbx(){
                $("#srchbox").css({"display":"none"});
            }
            function op(){
                $("#srchbox").css({"display":"flex"});
            }
            function sout() {
                console.log('something');
                document.cookie = "uid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.reload();
            }
        </script>
    </body>
</html>