<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/homepage.css">
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome <%= name %></h1>
        <div class="slider"></div>
        <main>
            <div id="media" class="media"></div>
            <div class="media-sec" id="pg-movies">
                <script>
                    var mov = JSON.parse('<%- allInfo %>');
                    let ht = '';
                    for (const media of mov) {
                        ht += `<div class="media-tile">
                                    <img src=${media["poster"]} alt="">
                                    <div class="media-info">
                                        <span class="title">Title : ${media["title"]}</span>
                                        <div class="desc">
                                            <span>${media["year"]}</span>&nbsp;●&nbsp;
                                            <span>${media["rating"]}</span>
                                        </div>
                                    </div>
                                </div>`;
                    }
                    document.getElementById("media").innerHTML = ht;
                </script>
            </div>
        </main>
    </body>
</html>