<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/logerr.css">
    <style></style>
    <title></title>
</head>

<body>
    <h1>Error <span>404</span><br>Hampe to <span id="loc"></span> route ha hi no 🤪</h1>
    <video src="/assets/404.mp4" autoplay muted loop></video>
    <script>
        document.getElementById("loc").innerText = `'${window.location.pathname.toString()}'`;
    </script>
</body>

</html>