<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/sisu.css">
        <style></style>
        <title></title>
    </head>
    <body>
        <main >
            <form action="/signin" method="post" id="signin">
                <h1>Sign In</h1>
                <label for="username">Username<input type="text" name="username" id="username" required></label>
                <label for="password">Password<input type="password" name="password" id="password" maxlength="12" minlength="8" required></label>
                <input type="submit" value="Sign in">
                <button class="toggle" type="button" onclick="togggle()">I don't have an account</button>
            </form>
            <form action="/signup" method="post" id="signup">
                <h1>Sign Up</h1>
                <div class="inline">
                    <label for="">Full Name<input type="text" name="fullname" id="fullname" required></label>
                    <label for="">Username<input type="text" name="newusername" id="newusername" required></label>
                </div>
                <label for="">Email<input type="email" name="email" id="email" required></label>
                <div class="inline">
                    <label for="">Set Password<input type="password" name="createpasswd" id="createpasswd" maxlength="12" minlength="8" required></label>
                    <label for="">Confirm Password<input type="text" name="confirmpasswd" id="confirmpasswd" maxlength="12" minlength="8" required></label>
                </div>
                <input type="submit" value="Sign up">
                <button class="toggle" type="button" onclick="togggle()">I already have an account</button>
            </form>
        </main>
        <script>
            const card = document.querySelector("main");
            let state = true;
            function togggle() {
                if (state) {
                    card.style.transform = "rotateY(180deg)";
                } else {
                    card.style.transform = "rotateY(0deg)";
                }
                state = !state;
            }
            const su = document.getElementById("signup");
            const newpass = document.getElementById("createpasswd");
            const conpass = document.getElementById("confirmmpasswd");
            su.addEventListener('submit', function(event) {
                alert(newpass.value);
                var password = newpass.value;
                var confirmPassword = conpass.value;
                if (password !== confirmPassword) {
                    alert('The passwords do not match.');
                    event.preventDefault(); 
                }
            });
        </script>
    </body>
</html>