<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/sisu.css">
        <link rel="shortcut icon" href="/assets/logo-small.svg" type="image/x-icon">
        <style></style>
        <title>Signin | Fluke</title>
    </head>
    <body>
        <main class="container">
            <form action="" id="signin" class="well col-xs-4">
                <h1>Sign In</h1>
                <div>
                    <div class="form-group">
                        <label title="required" for="username">Username <span>*</span></label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label title="required" for="passwd">Password <span>*</span></label>
                        <input type="password" class="form-control" name="password" id="passwd" autocomplete="" required>
                    </div>
                </div>
                <input type="submit" class="btn btn-block button" value="Sign In">
                <div class="front" style="display: none;">
                    <span>Don't have an account??</span>
                    <button type="button" onclick="anismbac()" class="btn btn-primary button">Sign Up</button>
                </div>
            </form>
            <form action="" id="signup" class="well col-xs-4">
                <h1>Sign Up</h1>
                <div>
                    <div class="form-group">
                        <label title="required" for="name">Full Name <span>*</span></label>
                        <input type="text" class="form-control" name="fullname" id="name" required>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label title="required" for="age">Age <span>*</span></label>
                            <input type="number" class="form-control" name="age" id="age" min="5" max="100" required>
                        </div>
                        <div class="form-group col-xs-6">
                            <label title="required" for="username">Username <span>*</span></label>
                            <input type="text" class="form-control" name="username" id="newusername" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label title="required" for="email">Email <span>*</span></label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label title="required" for="createpasswd">Create Password <span>*</span></label>
                            <input type="password" class="form-control" name="crtpasswd" id="createpasswd" required>
                        </div>
                        <div class="form-group col-xs-6">
                            <label title="required" for="confirmpasswd">Confirm Password <span>*</span></label>
                            <input type="text" class="form-control" name="cnfpasswd" id="confirmpasswd" required>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-block button" value="Sign Up">
                <div class="back" style="display: none;">
                    <span>Already have an account??</span>
                    <button type="button" onclick="anismfor()" class="btn btn-primary button">Sign In</button>
                </div>
            </form>
            <div class="cover col-xs-4">
                <div class="cover-inner">
                    <div class="front">
                        <span>Don't have an account??</span>
                        <button type="button" onclick="anibac()" class="btn button">Sign Up</button>
                    </div>
                    <div class="back">
                        <span>Already have an account??</span>
                        <button type="button" onclick="anifor()" class="btn button">Sign In</button>
                    </div>
                </div>
            </div>
        </main>
        <script>
            $(document).ready(() => {
                $('#signin').submit((e) => {
                    e.preventDefault();
                    const cred = {
                        username:$('#username').val(),
                        password:$('#passwd').val()
                    }
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST','/signin');
                    xhr.setRequestHeader('Content-Type','application/json');
                    xhr.send(JSON.stringify(cred));
                    xhr.onload = () => {
                        console.log(xhr.status);
                        if (parseInt(xhr.status) === 200) {
                            window.location.href = "/";
                        }
                        else{
                            const err = JSON.parse(xhr.responseText);
                            console.log(err);
                        }
                    };
                });
                $('#signup').submit((e) => {
                    e.preventDefault();
                    const cred = {
                        name:$('#name').val(),
                        age:$('#age').val(),
                        newusername:$('#newusername').val(),
                        email:$('#email').val(),
                        createpasswd:$('#createpasswd').val(),
                        confirmpasswd:$('#confirmpasswd').val(),
                    };
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST','/signup');
                    xhr.setRequestHeader('Content-Type','application/json');
                    xhr.send(JSON.stringify(cred));
                    xhr.onload = () => {
                        if (xhr.status === 200) {
                            window.location.href = "/";
                        }
                        else{
                            const err = JSON.parse(xhr.responseText);
                            console.log(err);
                        }
                    };
                });
            });
            function anifor() {
                $(".cover-inner").css({
                    "transform":"rotateY(0deg)"
                });
            }
            function anibac() {
                $(".cover-inner").css({
                    "transform":"rotateY(-180deg)"
                });
            }
            function anismfor() {
                $("main").css({
                    "transform":"rotateY(0deg)"
                });
            }
            function anismbac() {
                $("main").css({
                    "transform":"rotateY(-180deg)"
                });
            }
        </script>
    </body>
</html>