*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid limegreen; */
    font-family: android;
}
@font-face {
    font-family: android;
    src: url("/Roboto-Medium.ttf");
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #23272e;
}
h1{
    width: 100%;
    padding: 1%;
    color: white;
    box-shadow: inset 0 0 30px 1px #ffffff33;
}
.slider{
    height: 60vh;
    width: 98%;
    border-radius: 0.6rem;
    padding: 0.5%;
    display: flex;
    overflow: hidden;
    background-color: #ffffff33;
    position: relative;
}
main{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.media{
    width: 98%;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: flex-start; */
    /* align-items: center; */
}
.media-tile{
    height: 100%;
    aspect-ratio: 3/4;
    display: flex;
    padding: 0.5%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff25;
    border-radius: 0.5rem;
    position: relative;
}
.media-tile img{
    height: 98%;
    border-radius: 0.75rem;
}
.media-info{
    width: 100%;
    color:white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
    background-color: #23272e;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 -20px 30px #464d5a;
}
.media-info .title{
    font-size: 20px;
}
.media-info .desc{
    font-size: 15px;
    width: 90%;
    display: flex;
    justify-content: center;
    color: #aaa;
}
#tab-lt,#tab-rt{
    position: absolute;
    height: 100%;
    width: 5%;
    top: 0;
    color: white;
    font-size: 30px;
    display: grid;
    place-items: center;
}
#tab-lt{
    left: 0;
    background-image: linear-gradient(to right,#23272eff,#23272e88,transparent);
}
#tab-rt{
    right: 0;
    background-image: linear-gradient(to right,transparent,#23272e88,#23272eff);
}
.slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide img{
    width: 45%;
    object-fit: cover;
}
.slide-info{
    margin: 0 0 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: azure;
}
.slide-info .title{
    font-size: 80px;
}
.slide-info .subin{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #aaa;
}