@font-face {
    font-family: android;
    src: url("/Roboto-Medium.ttf");
}
:root{
    --col1:#6997b3;
    --col2:#76aebf;
    --col3:#ccccc3;
    --col4:#363d40;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid limegreen; */
}
body{
    display: grid;
    height: 100vh;
    place-items: center;
    background-image:conic-gradient(var(--col4),var(--col1),var(--col3));
}
main{
    font-size: 20px;
    position: relative;
    height: 90vh;
    aspect-ratio: 4/3;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transition: all 0.25s ease-in-out;
}
form{
    position: absolute;
    height: 95%;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    backface-visibility: hidden;
    padding: 5%;
    font-family: android;
    border-radius: 1rem;
    box-shadow: 0 0 30px 5px;
    backdrop-filter: blur(12px);
}
form#signup{
    aspect-ratio: 4/3;
    transform: rotateY(180deg);
    background-color: #ccccc377;
}
form#signin{
    background-color: #cccccc77;
    justify-content: space-evenly;
}
form#signup label{
    margin:2% 0;
}
form h1{
    font-size: 2em;
    color: var(--col4);
    
}
form label{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    width: 93%;
    font-size: 1rem;
    margin: 5% 0;
    background-color: #ffffff33;
    border-radius: 0.5rem;
    /* outline-offset: -10px; */
}
input{
    width: calc(100% - 10px);
    padding: 10px;
    margin: 2% 0;
    border: none;
    border-radius: 0.25rem;
    font-size: 1em;
    background-color: #00000033;
}
label:has(input[type="submit"]){
    outline: none;
    background-color: transparent;
}
input[type="submit"]{
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    border-radius: 0.5rem;
    background-image: conic-gradient(var(--col4),var(--col1));
    color: white;
}
form .inline{
    width: 95%;
    display: flex;
    align-content: stretch;
    justify-content: space-around;  
    align-items: center;
}
.inline label{
    width: 48%;
}
.toggle{
    margin: 5% 0;
    font-size: 0.75em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.toggle:focus{
    border: none;
    outline: none;
}
@media screen and (orientation:portrait) {
    main{
        margin-top: -10%;
        height: 85%;
        width: 95%;
        /* aspect-ratio: 3/4; */
    }
    form{
        width: 95%;
        height: 95%;
        margin: 0;
        /* padding: 2%; */
    }
    form#signin{
        justify-content: center;
        gap: 1rem;
    }
    form#signup{
        justify-content: center;
        /* gap: 0.75rem; */
    }
    form#signup label{
        width: 98%;
    }
    .inline{
        flex-direction: column;
    }
    .inline label{
        width: 100%;
    }
}