* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: android;
}

:root {
  --brand:#23272e;
  --col1:#d8b92b;
  --col2:#45d59d;
  --col3:#41656c;
  --col4:#385257;
}

@font-face {
  font-family: android;
  src: url("/fonts/Roboto-Medium.ttf");
}
a, button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-image: conic-gradient(from 180deg, var(--brand), var(--col3));
  font-size: 15px;
}

.header {
  width: 100%;
  height: 10vh;
  position: fixed;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brand);
}
.header #greet {
  font-weight: bold;
  font-size: 2em;
  color: var(--col1);
}
@media screen and (max-width: 49.125em) {
  .header #greet {
    font-size: 1.5em;
  }
}
.header .nav {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .nav input[type=search] {
  background-color: var(--col3);
  color: var(--col1);
  font-size: 1.4em;
  padding: 0 2%;
  border-radius: 0.25rem;
  border: none;
}
.header .nav ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 5%;
  width: 80%;
  height: 40vh;
  overflow-y: auto;
  padding: 0 2%;
  background-color: var(--col3);
  flex-direction: column;
  border-radius: 0 0 1rem 1rem;
  gap: 1rem;
}
.header .nav ul a {
  font-size: 1.2em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ccc;
}
.header .nav img {
  height: 80%;
  cursor: pointer;
}
.header .nav #icon {
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--col3);
  padding: 0 2%;
  border-radius: 0.25rem;
  font-size: 1.5em;
}
.header .nav #icon .signout {
  position: absolute;
  top: 100%;
  right: 0%;
  display: none;
  background-color: var(--col3);
  color: #ddd;
  font-size: small;
  width: max(100px, 10vw);
}

.display-frame {
  width: 98%;
  margin-top: 12vh;
  height: 60vh;
  display: grid;
  place-items: center;
}
.display-frame .slider {
  height: 95%;
  width: 96vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.display-frame .slider .slide {
  text-decoration: none;
  width: 100%;
  height: 95%;
  scroll-snap-align: center;
  background-position: 100% 80%;
  background-repeat: no-repeat;
  background-size: 50% auto;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 49.125em) {
  .display-frame .slider .slide {
    background-size: auto 100%;
  }
  .display-frame .slider .slide .slide-info {
    padding: 15% 0 15% 5%;
  }
  .display-frame .slider .slide .slide-info .title {
    font-size: 2em;
  }
  .display-frame .slider .slide .slide-info .descrip {
    font-size: 1em;
  }
}
.display-frame .slider .slide .slide-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5% 0 5% 5%;
  justify-content: space-evenly;
  align-items: flex-start;
  background-image: linear-gradient(to right, var(--brand) 0, var(--brand) 60%, transparent);
  color: white;
}
.display-frame .slider .slide .slide-info .title {
  font-size: 3em;
  max-width: 50%;
  line-height: 85%;
  color: var(--col1);
}
.display-frame .slider .slide .slide-info .subin {
  font-size: 1em;
  display: flex;
  gap: 1rem;
  color: #aaa;
  justify-content: space-between;
}
.display-frame .slider .slide .slide-info .descrip {
  max-width: 60%;
  font-size: 1.2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
}
main .media {
  width: 98vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  overflow-x: scroll;
  padding-inline: 1.5rem;
  margin: 0 0 5% 0;
  background-color: rgba(0, 0, 0, 0.2666666667);
}
main .media .card {
  height: 95%;
  width: 30vw;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: var(--col3);
  border-radius: 1rem;
}
@media screen and (max-width: 49.125em) {
  main .media .card {
    width: 70vw;
  }
}
main .media .card .bg-image {
  width: 95%;
  display: grid;
  place-items: center;
  z-index: 0;
  transition: all 0.25s ease-in-out;
}
main .media .card .bg-image img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 1rem;
}
main .media .card .card-body {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  padding-bottom: 5%;
  width: 100%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  border-radius: 0 0 1rem 1rem;
  background-image: linear-gradient(to bottom, transparent, var(--col3));
}
main .media .card .card-body h5 {
  font-size: 2em;
  width: 95%;
  color: var(--col1);
  text-align: center;
  margin: 0 auto;
}
main .media .card .card-body a {
  width: 25%;
  background-color: transparent;
  outline: none;
}
main .media .card .card-body .card-footer {
  color: white;
}
main .media .card:hover .card-body {
  opacity: 1;
}
main .media .card:hover .bg-image {
  filter: brightness(0.4);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #737373 #c7c7c7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #c7c7c7;
}

*::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 0px;
  border: 0px solid #ffffff;
}/*# sourceMappingURL=homepage.css.map */