*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid lime;     
}
:root{
    --brand:#23272e;
    --col1:#d8b92b;
    --col2:#45d59d;
    --col3:#41656c;
    --col4:#385257;
}
@font-face {
    font-family: android;
    src: url("/fonts/Roboto-Medium.ttf");
}
a,button{
    cursor: pointer;
}
body{
    background-color: var(--brand);
    background-image: conic-gradient(from 180deg ,var(--brand),var(--col3));
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    aspect-ratio: 3/2;
    position: relative  ;
    backdrop-filter: blur(10px);
    background-color: #00000044;
    border-radius: 2rem;
    form{
        height: 95%;
        aspect-ratio: 3/4;
        background-color: var(--col4);
        border-radius: 1rem;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        h1{
            font-weight: bold;
            margin-block: 3%;
            width: 100%;
            text-align: center;
            color: var(--col2);
            padding-block: 2%;
            background-color: var(--col3);
        }
        label{
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: var(--col1);
            margin-bottom: 2%;
            gap: .7rem;
            margin: auto;
            font-size: 1.2em;
            input{
                width: 97%;
                font-weight: normal;
                font-size: 1em;
                padding: 0 2%;
                text-align: center;border-radius: .3rem;
                border: none;
                background-color: #ffffff22;
                height: 5vh;
                color: white;
            }
        }
        input[type="submit"]{
            margin: auto auto 10% auto;
        }
    }
    .cover{
        position: absolute;
        height: 100%;
        aspect-ratio: 3/4;
        background-color: #447d88;
        left: 0;
        transform: none;
        transform-style: preserve-3d;
        animation: .5s ease-in-out forwards forwards;
        transform-origin: 100% 50%;
        transform: rotateY(180deg);
        border-radius: 1rem;
        .front,.back{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            border-radius: 1rem;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: var(--col3);
            // box-shadow: 0 0 10px 2px var(--col2);
            outline: 5px solid var(--brand);
            outline-offset: -10px;
            span{
                font-family: android;
                font-size: 1.5em;
                color: var(--col1);
                text-decoration: underline;
            }
        }
        .front{
            transform: rotateY(180deg);
        }
    }
}
.button{
    width: 60%;
    background: none;
    // outline: 1px solid var(--col2);
    box-shadow: 0 0 10px 2px var(--brand);
    font-size: 1.5em;
    color: var(--col2);
    font-weight: bold;
    &:active{
        outline: none;
    }
    &:hover{
        color: var(--col2);
    }
}
@keyframes switchfor {
    // 0%{
    //     transform: translateX(0%) rotateY(0deg);
    // }
    // 50%{
    //     transform: translateX(200%) rotateY(0deg);
    // }
    // 100%{
    //     transform: translateX(200%) rotateY(-180deg);
    // }
    0%{
        transform: rotateY(0deg);
      }
      100%{
        transform: rotateY(180deg);
      }
}
@keyframes switchbac {
    // 0%{
    //     transform: translateX(200%) rotateY(-180deg);
    // }
    // 50%{
    //     transform: translateX(0%) rotateY(-180deg);
    // }
    // 100%{
    //     transform: translateX(0%) rotateY(0deg);
    // }
    0%{
        transform: rotateY(180deg);
      }
      100%{
        transform: rotateY(0deg);
      }
}
