* {
  padding: 0;
  margin: 0;
}

:root {
  --brand:#23272e;
  --col1:#d8b92b;
  --col2:#45d59d;
  --col3:#41656c;
  --col4:#385257;
}

@font-face {
  font-family: android;
  src: url("/fonts/Roboto-Medium.ttf");
}
.msg {
  position: absolute;
  width: 95%;
  height: 15vh;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5333333333);
  border-radius: 0 0 1rem 1rem;
  display: grid;
  place-items: center;
  font-size: x-large;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100%);
  animation: 6s ease-in-out;
  color: red;
  padding: 2%;
  text-align: center;
}

@keyframes showmsg {
  0%, 100% {
    transform: translateY(-100%);
  }
  10%, 90% {
    transform: translateY(0%);
  }
}
body {
  background-image: conic-gradient(var(--brand), var(--col3));
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}
body main {
  display: flex;
  height: 85vh;
  justify-content: center;
  transform: none;
  position: relative;
}
body main .well {
  background-color: rgba(0, 0, 0, 0.1333333333);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}
body main .well h1 {
  color: var(--col1);
  font-weight: bold;
  margin-bottom: 5%;
}
body main .well label {
  color: white;
}
body main .well label span {
  color: #ff7b7b;
}
body main .well input[type=submit] {
  font-size: large;
  background-color: var(--col2);
  font-weight: bold;
}
body main .well .form-control {
  background-color: transparent;
  color: white;
}
body main .cover {
  border: none;
  position: absolute;
  height: 97%;
  padding: 0;
  perspective: 1000px;
  transform: translateX(50%);
  transition: 0.5s ease-in-out;
}
body main .cover .cover-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
  display: grid;
  place-items: center;
}
body main .cover .cover-inner .front, body main .cover .cover-inner .back {
  outline: 3px solid var(--col2);
  outline-offset: -12px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: var(--col3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body main .cover .cover-inner .front span, body main .cover .cover-inner .back span {
  color: white;
}
body main .cover .cover-inner .front button, body main .cover .cover-inner .back button {
  width: 80%;
  background-color: var(--col1);
  font-size: large;
  font-weight: bold;
}
body main .cover .cover-inner .back {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 49.125em) {
  .cover {
    display: none;
  }
  body {
    perspective: 1000px;
  }
  body main {
    position: relative;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
    transform-origin: 50% 50%;
    width: 100%;
  }
  body main .well {
    position: absolute;
    width: 90%;
    padding-block: 15%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--col3);
    outline: 3px solid var(--col1);
    outline-offset: -12px;
  }
  body main .well .front, body main .well .back {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: smaller;
    margin-top: 5%;
  }
  body main .well .front span, body main .well .back span {
    color: #45bfd5;
    font-size: small;
  }
  body main .well .front button, body main .well .back button {
    background-color: transparent;
    border-color: var(--col1);
    color: var(--col1);
  }
  body main .well:nth-of-type(2) {
    transform: rotateY(180deg);
  }
}/*# sourceMappingURL=sisu.css.map */